!!! 5
html(lang="en")
  head
    title Execnode
    link(href="base.css", rel="stylesheet", type="text/css")
    link(href="main.css", media="screen", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js", type="application/javascript")
    script(src="js/webclient.js", type="application/javascript")
  body
    div#menu
      div#login login
      input(name="filter")
      div#submission Submit new job
    div#main
      table#joblist
    
